.card-deck {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;

  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    overflow-x: visible;
  }

  .card {
    flex: 0 0 auto;
    max-width: 75vw;

    @include media-breakpoint-up(md) {
      flex: 1 0 0%;
      max-width: calc((100% - 60px)/3);
    }
  }
}

.card-header,
.card-footer {
  padding: .5rem .9rem;
  
  @include media-breakpoint-up(md) {
    padding: .75rem 1.25rem;
  }
}

.card-body {
  padding: .5rem;

  @include media-breakpoint-up(md) {
    padding: 1.25rem;
  }
}

.card-custom {
  
}