.lnk-twitch,
.lnk-fb,
.lnk-twttr,
.lnk-linked,
.lnk-yt,
.lnk-email {
  &.active {
    background-color: lighten(#252934, 10%);
  }

  .description {
    border-left: 3px solid;
    padding-left: .8rem;
    text-align: left;

    + .retro-button {
      margin-bottom: 1rem;
    }
  }
}

.lnk-fb,
.lnk-twttr,
.lnk-linked {
  &:hover,
  &:focus {
    .clip-caption {
      color: #FFF;
      mix-blend-mode: difference;
    }
  }
}

.lnk-twitch {
  background-color: #6441A5;

  &:hover,
  &:focus {
    background-image: url(/static/img/twitch.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .clip-caption {
      color: #FFF;
      filter: drop-shadow(-1px -1px 3px #6441A5) drop-shadow(1px 1px 3px #6441A5);
    }
  }

  .description {
    border-left-color: #6441A5;
  }
}

.lnk-fb {
  background-color: #3B5998;

  .description {
    border-left-color: #3B5998;
  }
}

.lnk-twttr {
  background-color: #1DA1F2;

  .description {
    border-left-color: #1DA1F2;
  }
}

.lnk-linked {
  background-color: #0077B5;

  .description {
    border-left-color: #0077B5;
  }
}

.lnk-yt {
  background-color: #F00;

  &:hover,
  &:focus {
    background-image: url(/static/img/youtube.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .clip-caption {
      color: #FFF;
      filter: drop-shadow(-1px -1px 3px #F00) drop-shadow(1px 1px 3px #F00);
    }
  }

  .description {
    border-left-color: #F00;
  }
}

.lnk-email {
  background-color: #FED766;
  color: #000;

  &.active {
    color: #FFF;
  }

  &:hover,
  &:focus {
    .clip-caption {
      color: darken($primary, 20);
    }
  }

  .description {
    border-left-color: #FED766;
  }
}

.lnk-gth {
  &:hover,
  &:focus {
    .clip-caption {
      color: lighten($primary, 20);
    }
  }
}

.lnk-title {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
}

.yt-wrapper,
.twitch-wrapper {
  display: inline-block;
  text-align: left;

  > img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}


.yt-wrapper {
  background-color: #282828;

  > div {
    margin: 10px 0 10px 10px !important;
  }
}

.twitch-wrapper {
  background-color: #2B2B2B;
}

.contact-form {
  text-align: left;

  textarea {
    max-height: 75px;

    @include media-breakpoint-up(lg) {
      max-height: none;
    }
  }
}