.wrap {
  color: #222;
  font-size: 24px;

  @include media-breakpoint-up(lg) {
    display: table;
    width: 100%;
  }
}

.clip-row {
  @include media-breakpoint-up(lg) {
    display: table-row;
    
    &:nth-child(even) {
      .clip-each {
        transform: translate(125px, -87px);

        &.active {
          transform: none;
        }
      }
    }
  }  

}

.clip-block {
  @include media-breakpoint-up(lg) {
    @include clearfix;

    display: table-cell;
    vertical-align: middle;
  }
}

.clip-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.clip-content {
  display: none;
  font-size: 1rem;

  .close {
    color: inherit;
    cursor: pointer;
    font-size: 3rem;
    opacity: 1;
    position: absolute;
    right: 15px;
    top: -15px;
  }
}

.clip-each {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: url("#hexagon-clip");
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 auto;
  position: relative;
  transition: padding .5s ease-out;
  z-index: 1;

  &:not(:first-child) {
    @include media-breakpoint-up(lg) {
      margin-left: 90px;
    }
  }

  &.active {
    bottom: 0;
    clip-path: none;
    cursor: auto;
    height: auto;
    left: 0;
    margin-left: 0;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;

    .clip-caption {
      display: none;
    }

    .clip-content {
      display: block;
      max-height: 85vh;
      -webkit-overflow-scrolling: auto;
      overflow-y: auto;
      position: relative;

      @include media-breakpoint-up(lg) {
        max-height: none;
        overflow-y: visible;
      }
    }
  }
}

.clip-gradient {
  background-color: #222;
  color: #FFF;
  height: 50px;
  text-align: center;
  text-decoration: none;
  width: 50px;

  @include media-breakpoint-up(lg) {
    height: 160px;
    width: 160px;
  }
}

.clip-svg {
  width: 0;
  height: 0;
}