@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

.hero {
  > h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 6vw;
      margin-bottom: 5vw;
    }
  }

  > p {
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }
}

h2.first-element {
  margin-bottom: .8em;
  text-align: center;

  > span {
    display: inline-block;
    position: relative;

    &::after {
      background-color: currentColor;
      bottom: -8px;
      content: '';
      display: block;
      height: 4px;
      left: 12%;
      position: absolute;
      right: 12%;
    }
  }
}